body{
    margin: 0;
    /* background-color: rgb(175, 175, 175); */
    background-image: linear-gradient(to right, #434343 0%, black 100%);

        
}

.num{
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.pro{
    width: 280px;
    height:280px;
    border-radius: 50%;
    position: relative;
    border: 1px solid white;
    left: 60px;
    margin-top: 30px;
    display: flex;
    box-shadow: rgba(232, 232, 239, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   
}


.log{
    width: 100px;
    height: 80px;
    
}
.low{
    height: 60px;
    width: 70px;
    display: flex;
    /* position: absolute; */
    left: 11px;
    top:1px;
     
      
}
.boss{
    display:flex;
    gap: 130px;
    justify-content: flex-end;
    padding: 10PX;
   
    z-index:3;
    font-size: 20px;
    font-weight: 500;  
    color: white;
}
.sup{
    width: 30px;
    height: 20px;
    
    top: 130px;
    margin: -2px;
    
}
.namee{
    font-size: 35px;
    font-weight: 500;
    margin: 80px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: relative;
    bottom: 70px;
    color: white;
}

.jabb{
    width: 60%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}
/*  .boss div:hover{
    color: black;
    background-color:rgb(125, 173, 174);
    width: 50px;
    height:50px ;
    height: auto;
    border-radius: 30px; 
} */
.nazz button{
    width: 150px;
    height: 50px;
    border: none;
  border-radius:30px ;
  font-size:18px;
 color: #ffffff;
  background-color: rgb(68, 67, 67);
}
.nazz button:hover{
    color: rgb(1, 1, 1);
    background-color: rgb(125, 173, 174);
}


.paraa{
  
    margin: 0px;
    
   
    font-size: 20px;
    font-weight: 400;
    left: 20px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color: white;
}


.abbout{
    display: flex;
    width: 100%;
    justify-content: center;
    color: white;
    align-items:center ;
}
.less{
    margin: 100px;
    font-size: 25px;
    padding:40px;
}
h1{
    margin-top: 100px;
    margin-left: 100px;
    color: white;
    
}
.skk{
    height: 300px;
    margin: 50px;
    
   
}
.skilll{
    margin: 100px;
}
.koop{
    position: absolute;
    left: 220px;
    color: rgb(228, 218, 201);
}
.fine{
    width: 400px;
    height: 150px;
    background-color: white;
}
.looo{
    display: flex;
    margin: auto;
    width: 100%;
    height: 160px;
    justify-content:center;
}
.project{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin: auto;
   width: 90%;
   justify-content: center;
   column-gap: 20px;
   color: #373333;


}
.project div{
    background-color: rgb(59, 59, 59);
    color: #ffffff;
    width: fit-content;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 10px;
}
.project div img{
    height: 200px;
    object-fit: cover;
    width: 300px;
    border-radius: 10px;
}
.contact{
padding-bottom: 200px;
   
}
.book{

    height: 500px;
   
}

.alii{
 display: flex;
 justify-content: center;
 width: fit-content;
 margin: auto;
 background-color: #3a86ae;
 border-radius: 20px;
 
}
.one{
width: 300px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 20px;
}

.two{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
background-color: #fff;
border-radius:0 20px 20px 0;
    justify-content: center;
}
.letter{
    width: 300px;
    height: 120px;
    object-fit: contain;
    padding-top: 30px;
}
.icon{
    display: flex;
   column-gap: 20px;
   font-size: 25px;
}
